<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Client.Properties.Settings.csReports" connectionString="Data Source=PC-ANDREW;Initial Catalog=ExInspection;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Client.Properties.Settings>
            <setting name="PathToData" serializeAs="String">
                <value />
            </setting>
            <setting name="PathToBackups" serializeAs="String">
                <value />
            </setting>
            <setting name="DataHost" serializeAs="String">
                <value />
            </setting>
            <setting name="DataPort" serializeAs="String">
                <value />
            </setting>
            <setting name="DataUser" serializeAs="String">
                <value />
            </setting>
            <setting name="DataPass" serializeAs="String">
                <value />
            </setting>
            <setting name="DataName" serializeAs="String">
                <value />
            </setting>
            <setting name="SignInRemember" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SignInUser" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowColour" serializeAs="String">
                <value />
            </setting>
            <setting name="RowColourPO" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="RowColourP1" serializeAs="String">
                <value>#D93A32</value>
            </setting>
            <setting name="RowColourP2" serializeAs="String">
                <value>#FF6961</value>
            </setting>
            <setting name="RowColourP3" serializeAs="String">
                <value>#FF8D87</value>
            </setting>
            <setting name="RowColourP4" serializeAs="String">
                <value>#FFB2AE</value>
            </setting>
            <setting name="RowColourP5" serializeAs="String">
                <value>#FFD6D4</value>
            </setting>
            <setting name="RowColourPOT" serializeAs="String">
                <value>#646464</value>
            </setting>
            <setting name="RowColourP1T" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="RowColourP2T" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="RowColourP3T" serializeAs="String">
                <value>#646464</value>
            </setting>
            <setting name="RowColourP4T" serializeAs="String">
                <value>#646464</value>
            </setting>
            <setting name="RowColourP5T" serializeAs="String">
                <value>#646464</value>
            </setting>
            <setting name="PathToLogo" serializeAs="String">
                <value />
            </setting>
            <setting name="PathToExports" serializeAs="String">
                <value />
            </setting>
        </Client.Properties.Settings>
    </userSettings>
</configuration>